<article>
  <div class="row g-3">
    <div class="col-lg-8 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 flex-wrap p-3 rounded-2 bg-white w-100 justify-content-between">
        <div class="header">
          <h3>Sales Overview</h3>
        </div>
        <div class="details">
          <ul class="p-0 d-flex align-items-center justify-content-between m-0 flex-md-row flex-column gap-md-2 gap-4 flex-wrap">
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/sales/Sales.png" alt="Sales">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                <p class="nums">₹ 832</p>
                <p class="text">Sales</p>
              </div>
            </li>
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/sales/Revenue.png" alt="Revenue">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4 gap-4">
                <p class="nums">₹ 18,300</p>
                <p class="text">Revenue</p>
              </div>
            </li>
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/sales/Profit.png" alt="profit">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                <p class="nums">₹ 832</p>
                <p class="text">Profit</p>
              </div>
            </li>
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/sales/Cost.png" alt="Cost">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                <p class="nums">₹ 17,432</p>
                <p class="text">Cost</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 justify-content-md-between">
        <div class="header">
          <h3>Inventory Summary</h3>
        </div>
        <div class="details">
          <ul class="p-0 d-flex align-items-center justify-content-between m-0">
            <li class="d-flex gap-2 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/inventory/Quantity.png" alt="Quantity">
              </figure>
              <div class="d-flex flex-column align-items-center w-100">
                <p class="nums">832</p>
                <p class="text">Quantity in Hand</p>
              </div>
            </li>
            <li class="d-flex gap-2 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/inventory/On the way.png" alt="On the way">
              </figure>
              <div class="d-flex flex-column align-items-center w-100">
                <p class="nums">200</p>
                <p class="text">To be received</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 justify-content-between">
        <div class="header">
          <h3>Purchase Overview</h3>
        </div>
        <div class="details">
          <ul class="p-0 d-flex align-items-center justify-content-between m-0 flex-md-row flex-column gap-md-2 gap-4 flex-wrap flex-wrap">
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/purchase/Purchase.png" alt="Purchase">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                <p class="nums">82</p>
                <p class="text">Purchase</p>
              </div>
            </li>
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/purchase/Cost.png" alt="Cost">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4 gap-4">
                <p class="nums">₹ 13,573</p>
                <p class="text">Cost</p>
              </div>
            </li>
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/purchase/Cancel.png" alt="Cancel">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                <p class="nums">5</p>
                <p class="text">Cancel</p>
              </div>
            </li>
            <li class="d-flex gap-3 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/purchase/Profit.png" alt="Profit">
              </figure>
              <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                <p class="nums">₹ 17,432</p>
                <p class="text">Return</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 justify-content-between">
        <div class="header">
          <h3>Product Summary</h3>
        </div>
        <div class="details">
          <ul class="p-0 d-flex align-items-center justify-content-between m-0">
            <li class="d-flex gap-2 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/product/Suppliers.png" alt="Suppliers">
              </figure>
              <div class="d-flex flex-column align-items-center w-100">
                <p class="nums">31</p>
                <p class="text">Number of Suppliers</p>
              </div>
            </li>
            <li class="d-flex gap-2 flex-column align-items-center">
              <figure>
                <img src="./../../../../../assets/images/home/product/Categories.png" alt="Categories">
              </figure>
              <div class="d-flex flex-column align-items-center w-100">
                <p class="nums">21</p>
                <p class="text">Number of Categories</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 justify-content-between">
        <div class="header d-flex align-items-center justify-content-between flex-md-row flex-column">
          <h3>Sales & Purchase</h3>
          <p class="purchase"> <i class="fa-solid fa-calendar-alt"></i> Weekly </p>
        </div>
        <div class="details">
          <canvas id="SALES_PURCHASE"> {{ chart }} </canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 justify-content-between">
        <div class="header">
          <h3>Order Summary</h3>
        </div>
        <div class="details h-100">
          <canvas id="ORDER_SUMMARY"> {{ chartTwo }} </canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 gap-4">
        <div class="header d-flex align-items-center justify-content-md-between flex-md-row flex-column gap-md-0 gap-2">
          <h3>Top Selling Stock</h3>
          <a href="" class="see-all">See All</a>
        </div>
        <div class="details">
          <table class="w-100 table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Sold Quantity</th>
                <th>Remaining Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Surf Excel</td>
                <td>30</td>
                <td>12</td>
                <td>₹ 100</td>
              </tr>
              <tr>
                <td>Rin</td>
                <td>21</td>
                <td>15</td>
                <td>₹ 207</td>
              </tr>
              <tr>
                <td>Parle G</td>
                <td>19</td>
                <td>17</td>
                <td>₹ 105</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 gap-4">
        <div class="header d-flex align-items-center justify-content-md-between flex-md-row flex-column gap-md-0 gap-2">
          <h3>Low Quantity Stock</h3>
          <a href="" class="see-all">See All</a>
        </div>
        <div class="details">
          <ul class="p-0 m-0 d-flex flex-column gap-3">
            <li class="d-flex justify-content-md-between align-items-center flex-md-row flex-column gap-md-0 gap-3">
              <figure>
                <img src="./../../../../../assets/images/home/low-quantity/product (1).png" alt="Talt Salt">
              </figure>
              <div class="low-quantity-content">
                <div class="header">
                  <h4>Tata Salt</h4>
                  <p>Remaining Quantity : 10 Packet</p>
                </div>
              </div>
              <div class="bage">
                <p>10</p>
              </div>
            </li>
            <li class="d-flex justify-content-md-between align-items-center flex-md-row flex-column gap-md-0 gap-3">
              <figure>
                <img src="./../../../../../assets/images/home/low-quantity/product (1).png" alt="Talt Salt">
              </figure>
              <div class="low-quantity-content">
                <div class="header">
                  <h4>Tata Salt</h4>
                  <p>Remaining Quantity : 10 Packet</p>
                </div>
              </div>
              <div class="bage">
                <p>10</p>
              </div>
            </li>
            <li class="d-flex justify-content-md-between align-items-center flex-md-row flex-column gap-md-0 gap-3">
              <figure>
                <img src="./../../../../../assets/images/home/low-quantity/product (1).png" alt="Talt Salt">
              </figure>
              <div class="low-quantity-content">
                <div class="header">
                  <h4>Tata Salt</h4>
                  <p>Remaining Quantity : 10 Packet</p>
                </div>
              </div>
              <div class="bage">
                <p>10</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
