<section>
    <div class="container">
        <div class="row d-flex  justify-content-between">
            <div class="col-md-4">
                <div class="details">
                    <h6 class="mt-3 mb-2">
                        Primary Details
                     </h6>
                     <table style="width:100%" class="table-details">
                       
                        <tr >
                          <td> Product name</td>
                          <td> Maggi</td>
                         
                        </tr>
                        <tr>
                            <td>  Product ID</td>
                            <td> 456567</td>
                           
                          </tr>
    
                          <tr>
                            <td>Product category</td>
                            <td> Instant food</td>
                           
                          </tr>
                          <tr>
                            <td>Expiry Date</td>
                            <td> 13/4/23</td>
                           
                          </tr>
                          <tr>
                            <td>  Threshold Value</td>
                            <td>12</td>
                           
                          </tr>
                        
                    </table>
                </div>
                <div>
                    <h6 class="mt-3">
                        Supplier Details
                     </h6>
                     <table style="width:100%" class="table-supplier">
                       
                        <tr >
                          <td> Supplier name</td>
                          <td> Ronald Martin</td>
                         
                        </tr>
                        <tr>
                            <td> Contact Number</td>
                            <td> 98789 86757</td>
                           
                          </tr>
    
                          
                        
                    </table>
                </div>
               
               
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center  ">
                    <img src="../../../../../../../assets/images/inventory/product-info.png" alt="" class="img-border text-center p-2">
                </div>
                <table style="width:100%" class="table-data">
                       
                    <tr >
                      <td> Opening Stock</td>
                      <td> 40</td>
                     
                    </tr>
                    <tr>
                        <td> Remaining  Stock</td>
                        <td> 34</td>
                       
                      </tr>

                      <tr>
                        <td> On the way</td>
                        <td> 15</td>
                       
                      </tr>
                      
                      <tr>
                        <td> Threshold value</td>
                        <td> 12</td>
                       
                      </tr>
                    
                </table>
            </div>
        </div>
        <div class="row  d-flex  justify-content-between">
            <div class="col-md-8">
                <h6 class="mt-3 mb-2">
                    Stock Locations
                 </h6>
                <table style="width:100%" class="table-stock">
                       <tr class="bg-gray">
                        <th>Store Name</th>
                        <th class="text-end">Stock in hand</th>
                       </tr>
                    <tr >
                      <td > Sulur Branch</td>
                      <td class="text-end"> 15</td>
                     
                    </tr>
                    <tr>
                        <td> Singanallur Branch</td>
                        <td class="text-end"> 19</td>
                       
                      </tr>

                    
                    
                </table>
            </div>
        </div>
    </div>
</section>

