<section class="p-2 overflow-hidden d-flex align-items-center vh-100 justify-content-center">
  <div class="row align-items-center w-100">
    <div class="col-md-6 p-0 d-md-block d-none">
      <figure class="m-0">
        <img src="./../../../../../assets/images/authPhoto.png" alt="authPhoto" class="w-100">
      </figure>
    </div>
    <div class="col-md-6 p-0 col-12 d-flex gap-2 flex-column vh-100 justify-content-center align-items-center">
      <div class=" d-flex flex-column gap-3 w-75">
        <a routerLink="/dashboard"> <i class="fa-solid fa-chevron-left"></i> Back </a>
        <div class="content-bx">
          <h2> Change Password </h2>
          <p>
            Enter your Old Password , and all data to change your password
          </p>
        </div>
      </div>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)"
        class="d-flex flex-column gap-3 w-75">

        <div>
          <label for="email">Email address</label>
          <input type="text" class="w-100" formControlName="email" id="email" name="email">
          <small *ngIf="changePasswordForm.controls['email'].invalid && changePasswordForm.controls['email'].touched"
            class="text-danger">
            Please enter a valid email address.
          </small>
        </div>

        <div class="password-container">
          <label for="oldPassword">Old password</label>
          <div class="input-icon-wrapper">
            <input [type]="showOldPassword ? 'text' : 'password'" class="w-100" formControlName="oldPassword" id="oldPassword" name="oldPassword" placeholder="Enter Old Password">
            <a class="show-password" (click)="showOldPassword = !showOldPassword">
              <i class="fa-solid" [class]="showOldPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </a>
          </div>
          <small *ngIf="changePasswordForm.controls['oldPassword'].invalid && changePasswordForm.controls['oldPassword'].touched" class="text-danger">
            Password must be at least 8 characters.
          </small>
        </div>
        
        <div class="password-container">
          <label for="newPassword">New password</label>
          <div class="input-icon-wrapper">
            <input [type]="showNewPassword ? 'text' : 'password'" class="w-100" formControlName="newPassword" id="newPassword" name="newPassword" placeholder="Enter New Password">
            <a class="show-password" (click)="showNewPassword = !showNewPassword">
              <i class="fa-solid" [class]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </a>
          </div>
          <small *ngIf="changePasswordForm.controls['newPassword'].invalid && changePasswordForm.controls['newPassword'].touched" class="text-danger">
            Password must be at least 8 characters.
          </small>
        </div>
        
        <div class="password-container">
          <label for="confirmPassword">Confirm password</label>
          <div class="input-icon-wrapper">
            <input [type]="showConfirmPassword ? 'text' : 'password'" class="w-100" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="Enter Confirm Password">
            <a class="show-password" (click)="showConfirmPassword = !showConfirmPassword">
              <i class="fa-solid" [class]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
            </a>
          </div>
          <small *ngIf="changePasswordForm.errors?.['passwordsMismatch'] && changePasswordForm.controls['confirmPassword'].touched" class="text-danger">
            Passwords do not match.
          </small>
        </div>

        <button type="submit" class="d-block w-100" [disabled]="changePasswordForm.invalid">Verify</button>
      </form>
    </div>
  </div>
</section>

<ng-container #popupContainer></ng-container>
