<section class="p-0 overflow-hidden d-flex align-items-center vh-100 justify-content-center">
  <div class="row align-items-center m-0 w-100">
    <div class="col-md-6 p-0 d-md-block d-none">
      <figure class="m-0 p-0">
        <img src="./../../../../../assets/images/authPhoto.png" alt="authPhoto" class="w-100">
      </figure>
    </div>
    <div class="col-md-6 p-0 col-12 d-flex gap-2 flex-column p-4">

      <div class="d-flex flex-column gap-2">
        <figure>
          <img src="./../../../../../assets/images/Logo.png" alt="Logo" class="logo-icon">
        </figure>

        <div class="content-bx text-center">
          <h2>Create an account</h2>
          <p class="text-muted">Start your free trial</p>
        </div>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" class="d-flex flex-column gap-3">
        <div class="d-flex flex-column ">
          <label for="name">Name*</label>
          <input class="mb-4" type="text" placeholder="Name" formControlName="name" required>
          <label for="name">Email*</label>
          <input class="mb-4" type="email" placeholder="Email" formControlName="email" required>
          <label for="name">Password*</label>
          <input type="password" placeholder="Password" formControlName="password" required>
          <p class="mt-2">Must be at least 8 characters.</p>
        </div>
        <button type="submit" class="d-block w-100">Register</button>
      </form>
      <p class="text-center">Already have an account? <a routerLink="/login" class="text-primary">Login</a></p>
    </div>
  </div>
</section>
