<section>
    <div class="row g-3">
        <div class="col-lg-12 col-md-6">
            <div
                class="box h-100 d-flex flex-column gap-2 flex-wrap p-3 rounded-2 bg-white w-100 justify-content-between">
                <div class="header">
                    <h3>Overall Overview</h3>
                </div>
                <div class="details">
                    <ul
                        class="p-0 d-flex align-items-center justify-content-between m-0 flex-md-row flex-column gap-md-2 gap-4 flex-wrap">
                        <li class="d-flex gap-3 flex-column align-items-center">
                            <figure>
                                <h6 class="text-info">Categories</h6>
                            </figure>
                            <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                                <p class="nums">14</p>
                            </div>
                            <p class="text">Last 7 days</p>
                        </li>
                        <li class="d-flex gap-3 flex-column align-items-center">
                            <figure>
                                <h6 class="text-warning">Total products</h6>
                            </figure>
                            <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                                <p class="nums">14</p>
                                <p class="nums">₹ 832</p>
                                <p class="text">Revenue</p>
                                <p class="text">Last 7 days</p>

                            </div>
                        </li>
                        <li class="d-flex gap-3 flex-column align-items-center">
                            <figure>
                                <h6 class="text-primary">Top selling</h6>
                            </figure>
                            <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                                <p class="nums">14</p>
                                <p class="nums">₹ 832</p>
                                <p class="text">Revenue</p>
                                <p class="text">Last 7 days</p>

                            </div>
                        </li>
                        <li class="d-flex gap-3 flex-column align-items-center">
                            <figure>
                                <h6 class="text-danger">Low stock</h6>
                            </figure>
                            <div class="d-flex justify-content-between align-items-center w-100 gap-4">
                                <p class="nums">14</p>
                                <p class="nums">₹ 832</p>
                                <p class="text">Revenue</p>
                                <p class="text">Last 7 days</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-6">
            <div class="box h-100 d-flex flex-column gap-2 p-3 rounded-2 bg-white w-100 gap-4">
                <div
                    class="header d-flex align-items-center justify-content-md-between flex-md-row flex-column gap-md-0 gap-0">
                    <h3>Products</h3>
                    <div class="d-flex align-items-center gap-3">
                        <button>Add product</button>
                        <button>Filter</button>

                        <button>Download</button>
                    </div>

                </div>

                <div class="details">
                    <table class="w-100 table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sold Quantity</th>
                                <th>Remaining Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Surf Excel</td>
                                <td>30</td>
                                <td>12</td>
                                <td>₹ 100</td>
                            </tr>
                            <tr>
                                <td>Rin</td>
                                <td>21</td>
                                <td>15</td>
                                <td>₹ 207</td>
                            </tr>
                            <tr>
                                <td>Parle G</td>
                                <td>19</td>
                                <td>17</td>
                                <td>₹ 105</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</section>