<section class="my-3 shadow-lg p-3">
    <div class="container px-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="input-group position-relative">
                    <img src="../../../assets/images/search.png" class="img-search" alt="search">
                    <input type="search" placeholder="Search product, supplier, order" class="form-control p-2">
                </div>
            </div>
            <div>
                <img src="../../../assets/images/Notification.png" alt="Notification">
                <img src="../../../assets/images/Avatar.png" class="mx-3" alt="Avatar">
            </div>
        </div>
    </div>
</section>