@import './../../../../assets/styles/layout';

article > * {
  margin: 0;
}

h2 {
  font-size: 30px;
  color: #16151C;
  inline-size: 20rem;
  text-align: center;
}

p {
  color: #A2A1A8;
  font-size: 14px;
  text-align: center;
}
