<section
  class="position-fixed top-0 start-0 bg-black bg-opacity-50 vh-100 w-100 d-flex align-items-center justify-content-center dynamic-popup">
  <article class="bg-white px-3 py-4 rounded-4 d-flex flex-column align-items-center gap-2 popup">
    <div>
      <figure>
        <img src="./../../../../assets/images/auth popup/welcome.png" class="w-100 object-fit-cover"
          [alt]="valueToBeVisible == 'otp' ? 'OTP Code' : 'Reset Password'">
      </figure>
    </div>
    <div class="content d-flex flex-column gap-2 justify-content-center">
      <h2> {{ valueToBeVisible == 'change' ? 'Password Changed' : 'Password Resetted' }} Successfully </h2>
      <p>
        {{ valueToBeVisible == 'change' ? 'Your password has been changed successfully' : 'Your password has been restted successfully' }}
      </p>
    </div>
    <button class="d-block w-100" [routerLink]="valueToBeVisible == 'change' ? '/dashboard' : '/login'" (click)="onClose()"> Back to {{ valueToBeVisible === 'change' ? 'Dashboard' : 'Login' }} </button>
  </article>
</section>
