.item {
  cursor: pointer;
  transition: 0.3s linear;
}

.activated-item-data {
  > * {
    color: #1570ef;
  }
}

.bgActiveImg:hover {
  color: #1570ef;
}

section {
  width: 16.8%;
}

> * {
  margin: 0;
}
