<section class="p-2 overflow-hidden d-flex align-items-center vh-100 justify-content-center">
  <div class="row align-items-center">
    <div class="col-md-6 p-0 d-md-block d-none">
      <figure class="m-0">
        <img src="./../../../../../assets/images/authPhoto.png" alt="authPhoto" class="w-100">
      </figure>
    </div>
    <div class="col-md-6 p-0 col-12 d-flex gap-2 flex-column vh-100 justify-content-center align-items-center">
      <div class=" d-flex flex-column gap-3 w-75">
      <a routerLink="../"> <i class="fa-solid fa-chevron-left"></i> Back </a>
      <div class="content-bx">
        <h2> Forgot Password </h2>
        <p>
          Enter your registered email address. we’ll send you a code to reset your password.
        </p>
      </div>
    </div>
    <form [formGroup]="ForgetPasswordForm" (ngSubmit)="submitForgetPasswordForm(ForgetPasswordForm)"
      class="d-flex flex-column gap-3 w-75">
      <input type="text" class="w-100" formControlName="email">
      <button type="submit" class="d-block w-50">Send OTP</button>
    </form>
  </div>
  </div>
</section>
